:root {
    --heading-size: 20px; 
    --body-text-size: 16px; 
    --small-text-size: 14px; 
}

.win-wrapper {
    font-size: var(--body-text-size); 
    margin: 20px auto;
    display: grid; 
    grid-template-columns: 0.5fr 2fr; 
    background-color: white;
    box-shadow: 2px 1px 1px grey;
    border-radius: 8px; 
    min-height: 350px;
}
.mini-nav {
    background-color: rgba(200, 200, 200, 0.1);
    color: grey;
    padding: 10px; 
    font-size: var(--small-text-size); 
    border-radius: 8px 0 0 8px;
}
.mini-nav li {
    margin: 10px 5px;
    padding: 0 5px; 
}
.mini-nav li:hover {
    color: black; 
    font-weight: bold; 
    transition: color linear 0.3s; 
}
.exps {
    border-left: 1.5px solid grey; 
}

.blurb {
    padding: 20px; 
}
.description {
    padding: 20px;
}
.description li {
    list-style-type: disclosure-closed;
}
.skills {
    display: flex; 
    flex-wrap: wrap;
}
.tag {
    background-color: rgba(51, 51, 51, 0.07);
    border-radius: 0.125rem;
    padding: 0.5rem 0.75rem;
    margin: 5px;
    font-size: 12px;
    display: inline-flex; 
    align-items: center;
}
.active-alt {
    color: black; 
    font-weight: bold; 
}


@media screen and (max-width: 900px) {
    .win-wrapper {
        display: block; 
    }
    .mini-nav {
        display: flex;
        overflow-x: auto;
    }
    .exps {
        border-bottom: 1.5px solid grey; 
        border-left: none;
    }
}