.content-wrapper {
    width: 60%;
    margin: auto;  
}
.win-wrapper {
    /* width: 100%; 
    overflow: hidden;*/
    margin: 20px auto;
    display: grid; 
    grid-template-columns: 0.5fr 2fr; 
    background-color: white;
    box-shadow: 2px 1px 1px grey;
    border-radius: 8px; 
    min-height: 350px;
}
.mini-nav {
    background-color: #ededed;
    font-size: 14px; 
    color: grey;
    padding: 10px; 
}
.mini-nav li {
    margin: 10px 5px;
    padding: 0 5px; 
}
.mini-nav li:hover {
    color: black; 
    font-weight: bold; 
    transition: color linear 0.3s; 
}
.exps {
    border-left: 1.5px solid grey; 
}

.blurb {
    padding: 20px;
}
.active-alt {
    color: black; 
    font-weight: bold; 
}

@media screen and (max-width: 900px) {
    .win-wrapper {
        display: block; 
    }
    .mini-nav {
        display: flex;
        overflow-x: auto;
    }
    .exps {
        border-bottom: 1.5px solid grey; 
        border-left: none;
    }
    .content-wrapper {
        width: 90%; 
    }
}